.unit.logo {
    background: center / contain no-repeat url('https://st-org.github.io/imgs/st.png');
    height: 150px;
    margin: var(--length-padding) 0;
}

.unit.two {
    display: grid;
    gap: var(--length-gap);
    grid-template-columns: 1fr 1fr;
}