html {
    --length-width: calc(210mm - .8in);
    --length-width-side: 336px;
    --length-tab: 2em;
    --length-padding: 1em;
    --length-gap: .5em;
    --length-space: .25em;
    --length-font-title: 1.8em;
    --length-font-heading: 1.3em;
    --length-font-code: .8em;
    --number-ratio-line: 1.5;
    --font: ui-sans-serif, "Segoe UI", sans-serif;
    --font-mono: ui-monospace, Consolas, monospace;
}